<link rel="import" href="../../../components/polymer/polymer.html">
<link rel="import" href="../../../components/core-list/core-list.html">
<link rel="import" href="../../../components/paper-button/paper-button.html">
<link rel="import" href="../../../components/paper-fab/paper-fab.html">

<polymer-element name="rab-fast-scroll">
    <template>

        <link rel="stylesheet" href="rab-fast-scroll.css">

        <style>
            .wrapper {
                height: 100%;
            }
        </style>

        <rab-vslider min="0"
                     max="{{maxScroll}}"
                     value="{{currentScroll}}"
                     pin="true"
                     on-immediate-value-change="{{scroll}}"
                     rotate="true"
                     dragging="{{dragging}}"
                     sectionValue="{{sectionValue}}"
                     id="slider"></rab-vslider>

        <div class="wrapper">
            <core-list data="{{data}}" groups="{{groups}}" id="scrollWindow" runwayFactor="2000" flex>
                <template>
                    <div divider class="divider"><div class="letter">{{groupModel.letter}}</div></div>

                    <div class="item" horizontal layout>
                        <paper-button flex>
                            <div class="avatar {{model.color}}">{{groupModel.letter}}</div>
                            <div class="name" flex>{{model.name}}</div>
                        </paper-button>
                    </div>
                </template>
            </core-list>
        </div>

    </template>

    <script>

        Polymer('rab-fast-scroll', {

            observe: {
                '$.scrollWindow._viewportSize': 'listReady', // Viewport ready
                '$.slider.expand': 'scroll' // Scroll bar clicked
            },
            data: [

                [ { name: 'Vincent Kranendonk', color:'blue' }, { name: 'Alex', color:'pink' }, { name: 'Adam' }, { name: 'Alex' }, { name: 'Adam' }, { name: 'Alex' }, { name: 'Adam' }, { name: 'Alex' } ],
                [ { name: 'Bob' }, { name: 'Bob' }, { name: 'Bob' }, { name: 'Bob' } ],
                [ { name: 'Chuck' }, { name: 'Cathy' }, { name: 'Chuck' }, { name: 'Cathy' }, { name: 'Chuck' }, { name: 'Cathy' } ]

            ],
            groups: [

                { letter: 'A' },
                { letter: 'B' },
                { letter: 'C' }

            ],
            $list: function() {

                return this.shadowRoot.querySelector('core-list');

            },
            ready: function () {

                // create reference to scroll window with overflow-y
                this.scrollWindow = this.$list();

                // track scroll by swiping or mouse
                this.scrollWindow.addEventListener("scroll", this.setScroll.bind(this), true);

            },
            listReady: function () {

                // set rab-vsliders maxScroll
                this.maxScroll = this.scrollWindow.scrollHeight - this.scrollWindow.offsetHeight;

                // set dividers from core-list
                this.dividers = this.scrollWindow._physicalDividers;

                // set rab-vsliders same height as window
                this.$.slider.shadowRoot.querySelector('#sliderContainer').style.width = (this.scrollWindow.offsetHeight - 60) + "px";

            },
            setScroll: function () {

                // update rab-vslider position
                if (!this.dragging) this.currentScroll = this.scrollWindow.scrollTop;

            },
            scroll: function (e, detail, sender) {

                var     dividers = this.dividers,
                        scrollWindow = this.$list(),
                        scrollBar = this.$.slider,
                        scrollBarPosition = scrollBar._x ? scrollBar._x : this.$.slider.shadowRoot.querySelector('#sliderKnob').offsetLeft,
                        scrollDirection = scrollBarPosition < this.lastScrollTop ? "up" : "down";

                this.lastScrollTop = scrollBarPosition;

                // set rab-vslider bubble after passing divider in core-list
                if(dividers) {

                    for (var i = 0; i < dividers.length; ++i) {

                        if (dividers[i].hidden) continue; // skip over hidden dividers

                        var     divider = dividers[i],
                                dividerTop = divider.getBoundingClientRect().top - (window.innerHeight - scrollWindow.offsetHeight), // take of header height
                                dividerText = divider.innerText;
//                        console.log(scrollBarPosition + " " + dividerTop)

                        // no scroll, just click
                        if (typeof scrollBarPosition === "undefined"  && scrollBarPosition >= dividerTop) this.sectionValue = dividerText;

                        // scrolling down
                        if (scrollDirection == "down" && scrollBarPosition >= dividerTop) this.sectionValue = dividerText

                        // scrolling up
                        if (scrollDirection == "up" && dividerTop <= scrollBarPosition) this.sectionValue = dividerText

                    }

                }

                // set window after scrolling with rab-vslider
                if (this.dragging) scrollWindow.setScrollTop(scrollBar.immediateValue);

            }
        });
    </script>
</polymer-element>