core-list {
    width: calc(100% + 32px); /* hide browser scrollbar */
    padding-bottom: 30px;
}

.divider, .item  {
    text-align: center;
    font-size: 30px;
    color:#fff;
    background: #651FFF;
}
.divider {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40px !important;
    color: gray;
    left: 0px;
    opacity: 1;
    background-color: transparent;
    margin-left: 9px;
    z-index: 999;
    height: 1px;
}
.divider .letter {
    transform: translateY(24px);
}
.item {
    color: #000;
    background: #fff;
    font-size:14px;
    padding-left: 60px;
    padding-right: 50px;
}

.avatar {
    background-color: #43A047;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    line-height: 1.35;
    color: #fff;
    font-weight: 100;
    font-size: 33px;
}
.avatar.blue {
    background-color: #2196F3;
}
.avatar.pink {
    background-color: #E91E63;
}
.avatar.purple {
    background-color: #673AB7;
}
.avatar.red {
    background-color: #F50057;
}
.avatar.img {
    background: url('img/_profile_small.jpg');
}
.avatar.img span {
    display: none;
}

.name {
    text-align: left;
    padding-left: 20px;
    text-transform: initial !important;
}

/*
* Scrollbar settings
*/

/* Color knob init state */
rab-scroll-bar::shadow .ring > #scrollKnob > #scrollKnobInner {
    /*background-color: #F44336;*/
}

/* Color knob after click */
rab-scroll-bar::shadow .ring.expand > #scrollKnob > #scrollKnobInner {
    /*background-color: #E91E63;*/
}

/* Color balloon after click */
rab-scroll-bar::shadow .pin.ring > #scrollKnob > #scrollKnobInner::before {
    /*background-color: #9C27B0;*/
}

/* Color knob when balloon expanded */
rab-scroll-bar::shadow .pin.expand #scrollKnobInner {
    /*background-color: #4CAF50;*/
}

/* Dragging: Color knob */
rab-scroll-bar::shadow #scrollKnobInner {
    /*background-color: #FF9800;*/
}

/* Dragging: Color balloon */
rab-scroll-bar::shadow .pin > #scrollKnob > #scrollKnobInner::before {
    /*background-color: #00BCD4;*/
}

/* Color text */
rab-scroll-bar::shadow #scrollKnob > #scrollKnobInner::after {
    color: white;
}