<link rel="import" href="../../../components/core-a11y-keys/core-a11y-keys.html">
<link rel="import" href="../../../components/paper-progress/paper-progress.html">
<link rel="import" href="../../../components/paper-input/paper-input.html">

<polymer-element name="rab-vslider" extends="core-range"
                 attributes="rotate snaps pin disabled secondaryProgress editable immediateValue dragging sectionValue"
                 role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="100">
<template>

    <link rel="stylesheet" href="rab-vslider.css">

    <template if="{{!disabled}}">
        <core-a11y-keys target="{{}}" keys="left down pagedown home"
                        on-keys-pressed="{{decrementKey}}"></core-a11y-keys>
        <core-a11y-keys target="{{}}" keys="right up pageup end" on-keys-pressed="{{incrementKey}}"></core-a11y-keys>
    </template>

    <div id="sliderContainer"
         class="{{ {disabled: disabled, pin: pin, snaps: snaps, ring: immediateValue <= min, expand: expand, dragging: dragging, transiting: transiting, editable: editable , rotate:rotate} | tokenList }}">

        <div class="bar-container">
            <paper-progress id="sliderBar" aria-hidden="true" min="{{min}}" max="{{max}}" value="{{immediateValue}}"
                            secondaryProgress="{{secondaryProgress}}"
                            on-down="{{bardown}}" on-up="{{resetKnob}}"
                            on-trackstart="{{trackStart}}" on-trackx="{{track}}"
                            on-trackend="{{trackEnd}}"></paper-progress>
        </div>

        <template if="{{snaps && !disabled}}">
            <div class="slider-markers" horizontal layout>
                <template repeat="{{markers}}">
                    <div flex class="slider-marker"></div>
                </template>
            </div>
        </template>

        <div id="sliderKnob" on-down="{{knobdown}}" on-up="{{resetKnob}}"
             on-trackstart="{{trackStart}}" on-track="{{track}}" on-trackend="{{trackEnd}}"
             on-transitionend="{{knobTransitionEnd}}"
             center-justified center horizontal layout>

            <div id="sliderKnobInner" value="{{sectionValue}}"></div>

        </div>

    </div>

    <template if="{{editable}}">
        <paper-input id="input" class="slider-input" value="{{immediateValue}}" disabled?="{{disabled}}"
                     on-change="{{inputChange}}"></paper-input>
    </template>

</template>
<script>

    Polymer('rab-vslider', {
        snaps: false,


        pin: false,

        disabled: false,

        secondaryProgress: 0,

        editable: false,

        maxMarkers: 100,
        dragging: false,

        observe: {
            'step snaps': 'update'
        },

        ready: function () {
            this.update();
        },

        update: function () {
            this.positionKnob(this.calcRatio(this.value));
            this.updateMarkers();
        },

        minChanged: function () {
            this.update();
            this.setAttribute('aria-valuemin', this.min);
        },

        maxChanged: function () {
            this.update();
            this.setAttribute('aria-valuemax', this.max);
        },

        valueChanged: function () {
            this.update();
            this.setAttribute('aria-valuenow', this.value);
            this.fire('core-change');
        },

        disabledChanged: function () {
            if (this.disabled) {
                this.removeAttribute('tabindex');
            } else {
                this.tabIndex = 0;
            }
        },

        immediateValueChanged: function () {
            if (!this.dragging) {
                this.value = this.immediateValue;
            }
            this.fire('immediate-value-change');
        },

        expandKnob: function () {
            this.expand = true;
        },

        resetKnob: function () {
            this.expandJob && this.expandJob.stop();
            this.expand = false;
        },

        positionKnob: function (ratio) {
            this.immediateValue = this.calcStep(this.calcKnobPosition(ratio)) || 0;
            this._ratio = this.snaps ? this.calcRatio(this.immediateValue) : ratio;
            this.$.sliderKnob.style.left = this._ratio * 100 + '%';
        },

        inputChange: function () {
            this.value = this.$.input.value;
            this.fire('change');
        },

        calcKnobPosition: function (ratio) {
            return (this.max - this.min) * ratio + this.min;
        },

        trackStart: function (e) {
            this._w = this.$.sliderBar.offsetWidth;
            this._x = this._ratio * this._w;
            this._startx = this._x || 0;
            this._minx = -this._startx;
            this._maxx = this._w - this._startx;
            this.$.sliderKnob.classList.add('dragging');
            this.dragging = true;
            e.preventTap();
        },

        track: function (e) {
            var dx = this.rotate ? e.dy : e.dx;
            var x = Math.min(this._maxx, Math.max(this._minx, dx));
            this._x = this._startx + x;
            this.immediateValue = this.calcStep(
                    this.calcKnobPosition(this._x / this._w)) || 0;
            var s = this.$.sliderKnob.style;
            s.transform = s.webkitTransform = 'translate3d(' + (this.snaps ?
            (this.calcRatio(this.immediateValue) * this._w) - this._startx : x) + 'px, 0, 0)';
        },

        trackEnd: function () {
            var s = this.$.sliderKnob.style;
            s.transform = s.webkitTransform = '';
            this.$.sliderKnob.classList.remove('dragging');
            this.dragging = false;
            this.resetKnob();
            this.value = this.immediateValue;
            this.fire('change');
        },

        knobdown: function (e) {
            e.preventDefault();
            this.expandKnob();
        },

        bardown: function (e) {
            e.preventDefault();
            this.transiting = true;
            this._w = this.$.sliderBar.offsetWidth;
            var rect = this.$.sliderBar.getBoundingClientRect();
            var ratio = (e.x - rect.left) / this._w;
            this.positionKnob(ratio);
            this.expandJob = this.job(this.expandJob, this.expandKnob, 60);
            this.asyncFire('change');
        },

        knobTransitionEnd: function (e) {
            if (e.target === this.$.sliderKnob) {
                this.transiting = false;
            }
        },

        updateMarkers: function () {
            this.markers = [];
            var l = (this.max - this.min) / this.step;
            if (!this.snaps && l > this.maxMarkers) {
                return;
            }
            for (var i = 0; i < l; i++) {
                this.markers.push('');
            }
        },

        increment: function () {
            this.value = this.clampValue(this.value + this.step);
        },

        decrement: function () {
            this.value = this.clampValue(this.value - this.step);
        },

        incrementKey: function (ev, keys) {
            if (keys.key === "end") {
                this.value = this.max;
            } else {
                this.increment();
            }
            this.fire('change');
        },

        decrementKey: function (ev, keys) {
            if (keys.key === "home") {
                this.value = this.min;
            } else {
                this.decrement();
            }
            this.fire('change');
        }

    });

</script>
</polymer-element>
