<link rel="import" href="../../../components/polymer/polymer.html">
<link rel="import" href="../rab-section/rab-section.html">
<link rel="import" href="../rab-card/rab-card.html">

<polymer-element name="rab-list" attributes="show">
    <template>

        <link rel="stylesheet" href="rab-list.css">

        <div layout vertical center>

            <template repeat="{{post in posts}}">

                <rab-section>
                    <h2>{{post.name}}</h2>
                </rab-section>

                <template repeat="{{combination in post.combinations}}">
                    <rab-card>
                        <h2>{{combination.name}}</h2>
                    </rab-card>
                </template>

            </template>

        </div>
    </template>

    <script>
        Polymer({
            ready: function () {
                this.posts = PinYin;
            },
            domReady: function () {

                // get all sections
                var elems = this.shadowRoot.querySelectorAll('rab-section');

                var sections = {};

                // save offset from top
                for (var i = 0; i < elems.length; ++i) {

                    // retrieve first letter TODO without using [0]
                    var letter = elems[i].innerText[0];

                    // creat object
                    sections[letter] = {position: elems[i].offsetTop};

                }

                this.fire('rab-list-ready', sections);

            }
        });
    </script>
</polymer-element>